---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Icon } from "astro-icon/components";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main
      class="prose prose-neutral prose-invert px-10 mx-auto md:px-0 prose-lg relative"
    >
      <div class="flex justify-start w-full">
        <img
          src="/kristofer.jpg"
          class="w-32 h-32 mb-5 mt-0 rounded-full border-[1px] border-white mx-auto md:mx-0"
        />
      </div>
      <p>
        Hi, I'm <strong>Kristofer</strong>, a full stack developer
        interested in the potential of web3, decentralised applications, regenerative processes, TypeScript, React, Rust, ICP, good UX, good DX
        and lots of other things.
      </p>

      <p>
        I am currently working for <a href="https://dfinity.org/">Dfinity</a>, building tools, demos, examples and libraries for the <a href="https://internetcomputer.org/">Internet Computer</a>. I also do developer advocacy around ICP concepts and technologies, such as the Verifiable Credentials, Threshold Signatures, and Chain Fusion applications.
      </p>

      <p>
        I am also the founder and lead developer of <a href="C–ATTS">C–ATTS</a>, a project 
        introducing a new type of attestation combining data from multiple sources to 
        form a unified and verifiable credential.
      </p>

      <p>
        Previously, I have been doing work on other Web3 platforms such as <a href="https://hypercerts.org/">Hypercerts</a> and the
        <a href="https://easscan.org/">Ethereum Attestation Service</a> (EAS).
      </p>

      <p>
        I used to be the co-founder and lead developer of <a href="https://givepraise.xyz"
          >Praise</a
        >, a community intelligence system that promotes active participation
        and collaboration through peer recognition and rewards.
      </p>

      <p>
        <a
          href="mailto:kristofer@kristoferlund.se"
          class="inline-flex gap-1 items-center"
          ><Icon
            name="mdi:email"
            class="w-4 h-4"
          />kristofer@kristoferlund.se</a
        >
      </p>
      <p class="text-3xl">–</p>

      <section>
        {
          posts.slice(0, 3).map((post) => (
            <a href={`/blog/${post.slug}`} class="no-underline">
              <h3>{post.data.title}</h3>
              {post.data.description && post.data.description}
              <br />
              <FormattedDate date={post.data.pubDate} />
            </a>
          ))
        }
      </section>

      <p><a href="/blog">More articles</a></p>
    </main>
    <Footer />
  </body>
</html>
